/*
Global color settings for Rofi
*/

* {
/*colors*/
  background:		#222222;
  foreground-light:	#555555;
  foreground:		#dfdfdf;
  red:			#71504e;
}

* {
/*font*/
  font:			"Fira Mono 12";
}

/* vim:ft=css
